@import "variables";
@import "mixins";
@import "reboot";
@import "header";
@import "main";

html {
  background: $body-bg;
}

body {
  background: white;
  width: 90%;
  margin: 6% auto 2%;
  padding: 0 2% 3%;
}
