@import "variables";
@import "mixins";
@import "reboot";
@import "header";
@import "main";
// TODO feedback: 全局样式建议放在reboot.scss中
html {
  background: $body-bg;
}

body {
  background: white;
  width: 90%;
  margin: 6% auto 2%;
  padding: 0 2% 3%;
}
